# macOS files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
ai_env/
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files


# TensorFlow logs
logs/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Flask cache
instance/

# System files
Thumbs.db