<!DOCTYPE html>
<html>
<head>
    <title>Breast Cancer Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Breast Cancer Prediction</h1>

        <form method="POST">

            {% for feature in feature_names %}
                <label>{{ feature }}</label>
                <input type="number" step="any" name="{{ feature }}" required>
            {% endfor %}

            <button type="submit">Predict</button>
        </form>

        <h2>{{ prediction }}</h2>
    </div>

</body>
</html>